spring:
  profiles:
    active: dev
  datasource:
    ds1:
      #      driver-class-name: com.mysql.jdbc.Driver
      driver-class-name: net.sf.log4jdbc.DriverSpy
      type: com.zaxxer.hikari.HikariDataSource
      pool-name: DatebookHikariCP1
      minimum-idle: 5
      maximum-pool-size: 155
      auto-commit: true
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
    ds2:
      #      driver-class-name: com.mysql.jdbc.Driver
      driver-class-name: net.sf.log4jdbc.DriverSpy
      type: com.zaxxer.hikari.HikariDataSource
      pool-name: DatebookHikariCP2
server:
  port: 80
